@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

$font-main: "Montserrat", sans-serif;

// Variables (colors, spacing, etc.)
$color-dark: #1c2a39;
$color-accent: #ff6978;
$color-light: #fff;
$color-muted: rgba(92, 106, 121, 1);
$color-bg: #fff;
$font-main: "Montserrat", sans-serif;
$color-light: #fff;
$color-star: #f2c94c;
$color-button: #4c3db2;
